/*Navigation bar at the top*/
#nav-bar {
  margin-top: 0px;
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  padding: 0em 2em 0em 2em
}

/*Logo at the left*/
#nav-bar .logo {
  margin-right: 10px;
  float: left;

}

span.header {
  float: left;
  font-size: 200%;
  line-height: 2.5em
}

/*Button at the right*/
#nav-bar button.composeButton {
  border-radius: 0.5em;
  color: #00a087;
  font-size: 1.3em;
  background: #d4f7f0;
  padding: 1em 0.3em 1em 0.3em;
  border: solid #000000 0.04em;
  float: right;
  margin: 0.23em;
}

#nav-bar button.composeButton:hover {
  color: black;
  background-color: white;
}